<div class='sp-sidebar'>
    <div class='logo'>
        <img src='/images/logotipo.png'>
    </div>
    <div class='nav'>
        <ul>
            <li class='nav-label'>
                Main
            </li>
            <li>
                <a href='/home'>
                    <i class='fa fa-dashboard'></i>Home
                </a>
            </li>
            <li>
                <a href='/conteudos'>
                    <i class='fa fa-dashboard'></i>conteudos
                </a>
            </li>
        </ul>
    </div>
</div>