
<% if(user.nivel == '1'){ %>

    <!-- #Start# Menu(Aluno) -->
    <div class="menu">
        <ul class="list">
            <li class="header">NAVEGAÇÃO(aluno)</li>
            <li <% if(active == "home"){ %> class="active" <% } %>>
                <a href="/home">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li <% if(active == "conteudos"){ %> class="active" <% } %>>
                <a href="/aluno/conteudos">
                    <i class="material-icons">home</i>
                    <span>conteudos</span>
                </a>
            </li>
            <li <% if(active == "trabalhos"){ %> class="active" <% } %>>
                <a href="/aluno/trabalhos">
                    <i class="material-icons">home</i>
                    <span>trabalhos</span>
                </a>
            </li>
            <li <% if(active == "chats"){ %> class="active" <% } %>>
                <a href="/aluno/chats">
                    <i class="material-icons">home</i>
                    <span>chats</span>
                </a>
            </li>
            <li <% if(active == "avaliacoes"){ %> class="active" <% } %>>
                <a href="/aluno/avaliacoes">
                    <i class="material-icons">home</i>
                    <span>avaliações</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #End# Menu(Aluno) -->

<% }else if(user.nivel == '2'){ %>

    <!-- #Start# Menu(Professor) -->
    <div class="menu">
        <ul class="list">
            <li class="header">NAVEGAÇÃO(Professor)</li>
            <li <% if(active == "home"){ %> class="active" <% } %>>
                <a href="/home">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li <% if(active == "conteudos"){ %> class="active" <% } %>>
                <a href="/professor/conteudos">
                    <i class="material-icons">home</i>
                    <span>conteudos</span>
                </a>
            </li>
            <li <% if(active == "trabalhos"){ %> class="active" <% } %>>
                <a href="/professor/trabalhos">
                    <i class="material-icons">home</i>
                    <span>trabalhos</span>
                </a>
            </li>
            <li <% if(active == "relatorios"){ %> class="active" <% } %>>
                <a href="/professor/relatorios">
                    <i class="material-icons">home</i>
                    <span>relatorios</span>
                </a>
            </li>
            <li <% if(active == "chats"){ %> class="active" <% } %>>
                <a href="/professor/chats">
                    <i class="material-icons">home</i>
                    <span>chats</span>
                </a>
            </li>
            <li <% if(active == "avaliacoes"){ %> class="active" <% } %>>
                <a href="/professor/avaliacoes">
                    <i class="material-icons">home</i>
                    <span>avaliações</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #End# Menu(Professor) -->

<%  }else if(user.nivel == '3'){ %>

    <!-- #Start# Menu(Admin) -->
    <div class="menu">
        <ul class="list">
            <li class="header">NAVEGAÇÃO(Admin)</li>
            <li <% if(active == "home"){ %> class="active" <% } %>>
                <a href="/home">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li <% if(active == "conteudos"){ %> class="active" <% } %>>
                <a href="/admin/conteudos">
                    <i class="material-icons">home</i>
                    <span>conteudos</span>
                </a>
            </li>
            <li <% if(active == "trabalhos"){ %> class="active" <% } %>>
                <a href="/admin/trabalhos">
                    <i class="material-icons">home</i>
                    <span>trabalhos</span>
                </a>
            </li>
            <li <% if(active == "avaliacoes"){ %> class="active" <% } %>>
                <a href="/admin/avaliacoes">
                    <i class="material-icons">home</i>
                    <span>avaliacoes</span>
                </a>
            </li>
            <li <% if(active == "chats"){ %> class="active" <% } %>>
                <a href="/admin/chats">
                    <i class="material-icons">home</i>
                    <span>chats</span>
                </a>
            </li>
            <li <% if(active == "usuarios"){ %> class="active" <% } %>>
                <a href="/admin/usuarios">
                    <i class="material-icons">home</i>
                    <span>usuarios</span>
                </a>
            </li>
            <li <% if(active == "relatorios"){ %> class="active" <% } %>>
                <a href="/admin/relatorios">
                    <i class="material-icons">home</i>
                    <span>relatorios</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #End# Menu(Admin) -->

<% } %>