<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Moodle</title>
        
        <link rel="icon" href="favicon.ico" type="image/x-icon"><!-- Favicon-->

        <!-- #START# CSS's -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"><!-- Google Fonts -->
        <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet"><!-- Bootstrap Core Css -->
        <link href="plugins/node-waves/waves.css" rel="stylesheet" /><!-- Waves Effect Css -->
        <link href="plugins/animate-css/animate.css" rel="stylesheet" /><!-- Animation Css -->
        <link href="plugins/morrisjs/morris.css" rel="stylesheet" /><!-- Morris Chart Css-->
        <link href="css/style.css" rel="stylesheet"><!-- Custom Css -->
        <link href="css/themes/all-themes.css" rel="stylesheet" /><!-- AdminBSB Themes -->
        <!-- #END# CSS's -->

    </head>

    <body class="theme-red">

        <%- include("layouts/page_loader.ejs") %>
        <%- include("layouts/sidebars_all.ejs") %>

        <!-- #START# Content-->
        <section class="content">
           
        </section>
        <!-- #END# Content-->

        <!-- #START# Scripts-->
        <script src="plugins/jquery/jquery.min.js"></script><!-- JQuery plugin -->
        <script src="plugins/bootstrap/js/bootstrap.js"></script><!-- Bootstrap Core Js -->
        <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script><!-- Select Plugin Js -->
        <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script><!-- Slimscroll Plugin Js -->
        <script src="plugins/node-waves/waves.js"></script><!-- Waves Effect Plugin Js -->
        <script src="plugins/waitme/waitMe.js"></script><!-- Wait Me Plugin Js -->
        <script src="js/admin.js"></script><!-- Custom Js -->
        <script src="js/pages/cards/colored.js"></script><!-- Custom Js -->
        <script src="js/demo.js"></script><!-- Demo Js -->
        <script src="/socket.io/socket.io.js"></script><!-- Socket.IO -->
        <script src="/js/socket_manager.js"></script><!-- Socket.IO -->
        <!-- #END# Scripts-->

    </body>

</html>
