<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class='sp-container'>
      
      <%- include("./imports/menu.ejs") %>

      <div class='sp-content'>
        <header class='header'>
          <div class='sp-navbar'>
            <div class='container-fluid'>
              <div class='profile pull-right'>
                <div class='avatar'>
                  <img src='/images/logo.png'>
                </div>
                <span>
                  <%= user.name %>
                  <i class='fa fa-unsorted'></i>
                </span>
              </div>
            </div>
          </div>
          <div class='main-header'>
            <div class='container-fluid'>
              <div class='top-header'>
                <div class='row'>
                  <div class='col-md-12'>
                    <ol class='breadcrumb'>
                      <li>
                        <a href='#'>Risk Factors</a>
                      </li>
                      <li>
                        <a href='#'>Segments</a>
                      </li>
                      <li class='active'>
                        <a href='#'>New Costumers</a>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class='main-content'>
          <div class='container-fluid'>
            <div class='row'>
              <div class='col-md-12'>
                <div class='module'>
                  <h2 class='module-head'>
                    O AMBIENTE VIRTUAL DE APRENDIZAGEM DO COLÉGIO SERRANO GUARDIA
                  </h2>
                  <div class='module-content'>
                    Esse espaço virtual:<br><br>

                    1. Disponibiliza vídeos e podcasts (arquivos de áudio) com o próprio professor explicando os conteúdos.<br>
                    2. Informa a programação das aulas ao vivo com o professor.<br>
                    3. Apresenta materiais complementares ao livro didático, como links, textos e vídeos.<br>
                    4. Permite que o aluno apresente suas dúvidas diretamente ao professor, através de mensagens e fóruns.<br>
                    5. Oferece um mecanismo para a entrega programada de trabalhos (atividades complementares).<br>
                    6. Permite a realização de avaliações à distância.<br><br>
                    O colégio organizou o ambiente em salas virtuais exclusivas para cada turma. Assim, por exemplo, o 7º A ganhou uma sala exclusiva para Português, outra para Matemática, outra para História etc. O 7º B, por sua vez, tem suas próprias salas organizadas dessa mesma forma para suas disciplinas.<br><br>
                    Clique aqui e visite os tutoriais para tentar acessar os recursos citados. Se não conseguir ou se encontrar problemas técnicos, sinalize através de um dos canais abaixo (resposta em horário comercial):<br><br>
                    Secretaria do colégio: (11) 2402-2815 (ramal 212)<br>
                    WhatsApp: (11) 96402-6994<br>
                    Fórum "Apoio Técnico e Operacional", dentro do próprio Moodle.<br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-md-12'>
              <a class='btn btn-default toggler' href='#'>
                <i class='fa fa-exchange'></i>
              </a>
              Toggle Sidebar
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
    </script><script  src="/js/script.js"></script>
    </script><script  src="/js/socket_manager.js"></script>

  </body>
</html>
